.full-body {
    background-color: #000000;
}
.main-paper {
    
    background-image: repeating-linear-gradient(#4fc3f7, #f48fb1);
}
.sticker-color {
    background-image: repeating-linear-gradient(#aed581, #fff59d)
}
.cutout-color {
    background-image: repeating-linear-gradient(#ffccbc, #c5cae9);
}
.paper {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    padding: 1px;
}
.paper-cutout {
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5);
    padding: 1px;
}
/*.markdown-logo {
    border: transparent;
    cursor: default;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
}*/
.center-align-elements {
    text-align: center;
}
.heading-down {
    font-family: monospace;
    font-size: 60px;
}
.heading-mark {
    font-family: monospace;
    font-size: 60px;
}