.sheet {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    padding: 1px;
}
.full-body {
    background-color: #ffffff;
}
.headings {
    font-family: serif;
}
.sub-headings {
    color: darkgreen;
    text-decoration: underline;
}
.normal-text {
    color: black;
}
.border {
    border-style: solid;
}
li {
    color: #000000;
    text-decoration:
}