---
import Layout from "../components/layout.astro";
---

<Layout title="Harshit Doshi">
	<h1>Hello, world!</h1>
	<p>I am Harshit! Welcome to my corner on the Internet!</p>
	<section>
		<p>
			I am an <em>engineer</em> by trade, a computer enthusiast. This fascination
			for numbers, bits, electricity, code, and sometimes even pure magic has
			instilled in me a knack for a wide array of subjects: software development,
			software design, hobbyist computer-hardware projects, web development,
			computer automation, business, and entrepreneurship.
		</p>

		<p>
			Using my skills, I love building impactful and disruptive software.
			During the day, I build awesome web-apps and mobile-apps for my
			clients and for my business, and, during the night, I experimenting
			with the world of data-science and artificial-intelligence.
		</p>
		<p>
			<strong>Objective:</strong>&#9<em
				>To always be on an ever-learning journey to strengthen my
				skills in software and computer systems while keeping my soft
				skills as a backbone of my efforts.</em
			>
		</p>
	</section>
	<section>
		<h2>Skills</h2>
		<p>
			University projects, experience in the industry, and self-learning
			have led me to and equipped me with skills like front-end
			development, back-end development, data management, computer
			automation, IT infrastructure management, and software project
			management.
		</p>
		<p>I am skilled at the following technologies:</p>
		<ul>
			<li>
				<strong>Programming Languages:&#9</strong>Python | JavaScript /
				TypeScript
			</li>
			<li>
				<strong>Back-End Engineering:&#9</strong>Django | FastAPI |
				Flask
			</li>
			<li><strong>Front-End Engineering:&#9</strong>ReactJS | ReduxJS</li>
			<li>
				<strong>Mobile Engineering:&#9</strong>React Native | Flutter
			</li>
			<li>
				<strong>Data Engineering:&#9</strong>PostgreSQL | SQLAlchemy
			</li>
			<li><strong>Containerisation:&#9</strong>Docker | Kubernetes</li>
			<li>
				<strong>Automation:&#9</strong>Shell (Bash, ZSH) | Ansible |
				Terraform
			</li>
			<li>
				<strong>Cloud Engineering:&#9</strong>Google Cloud | Microsoft
				Azure | Amazon Web Services (AWS)
			</li>
		</ul>
		<p>
			Apart from my engineering skills-set, I believe I am a good
			communicator too. I love presenting ideas and innovative approaches
			to my team and co-workers. I can deliver business requirements and
			project details clearly and concisely. Well-documented guides,
			tasks, ideas, and knowledge bases are my way of sharing and
			communicating. My experience in the corporate world has provided me
			with opportunities to expose my soft skills in terms of project
			workflows, management, and contribution towards projects.
		</p>
	</section>
	<section>
		<h2>Education</h2>
		<ul>
			<li>
				<h3>Georgia Institute of Technology (<em>GeorgiaTech</em>)</h3>
				<ul>
					<li><strong>Program:&#9</strong>
						Master of Science in Computer Science (Computational
						Perception & Robotics)
					</li>
					<li><strong>Timeline:&#9</strong>January, 2023 - Present</li>
					<li><strong>Location:&#9</strong>Atlanta, Georgia, USA (Remotely)</li>
				</ul>
			</li>
			<li>
				<h3>Christ University</h3>
				<ul>
					<li><strong>Program:&#9</strong>
						Bachelor of Technology in Computer Science & Engineering
					</li>
					<li><strong>GPA:&#9</strong>3.16/4.00 (7.91/10.00)</li>
					<li><strong>Timeline:&#9</strong>July 2016 - June 2020</li>
					<li><strong>Location:&#9</strong>Bengaluru, Karnataka, India</li>
				</ul>
			</li>
		</ul>
	</section>
</Layout>
